.visible{
    display:inline;
    color:grey;
    font-style:italic;
    cursor:text;
}
.invisible{
    display:none;
    color:grey;
}
.linkClass{
    color:blue;
    cursor:hand;
    cursor:pointer;
}
.describedClass{
    color:green;
}

.wikiResult{
    font-style:italic;
}

.entry{
    border:solid;
    border-color:#f5f5dc;
}

.entryText{
    height: 100px;
    overflow: auto;
    display: inline-block;
    padding-left: 5px;
    padding-right: 0;
}

.authorDate{
    background-color:#f5f5dc;
}

.markup{
    background-color:#add8e6;
}
