<html>
	<head>
		<title>Проверка синтаксиса</title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript">
		
		    var dataResult = null;
		
		    var WAIT_MSG = 'please wait...';
		    var ERROR_EMPTY_MSG = 'you have not entered anything';
		
		    $(function() {
		        $MIN_LENGTH = 2;
		        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		
		
		
		    $('#checkText').bind('click', function(){
		
		        var textToCheck =  $('#text_to_check').val().toLowerCase();

		        if(isNormal(textToCheck)){
		            showMessage(WAIT_MSG);
		            $.getJSON($SCRIPT_ROOT + '/check_syntax', {
		                text_to_check: textToCheck}, function(data) {
		                clearResult();
		                dataResult = data.result;
		                showResult(data.result,textToCheck);
		            });
		        }
		        else{
		            showMessage(ERROR_EMPTY_MSG);
		        }
		    });
		    });
		
		
		    function showResult(dataResult,textToCheck){
		        for(var i=0;i<dataResult.length;++i){
		        	textToCheck = markupSearch(textToCheck, dataResult[i]);
		        }
		        $('#result').html(textToCheck)
		    }
		    
		    function showMessage(error){
		        $('#result').text(error);
		    }
		
		    function clearResult(){
		        $('#result').text('');
		    }
		
		    function isNormal(text){
		        return text!=null && text!='';
		    }
		
		
		    function markupSearch(text, searchStr){
		        return text.replace(new RegExp('(^|\\s)('+searchStr+')(?=\\s|$|,|\\.|!|\\?|-)', 'g'),
		                "$1<span class='markup' name='markup'>$2</span>");
		    }
		    </script>
	</head>
	<body>
		<h3>Проверка синтаксиса</h3>
		  <form action="">
		  <p><textarea id="text_to_check" rows="50" cols="100">{{text}}</textarea></p>
		  <button id="checkText" type="button">Проверить</button>&#160;
		 </form>
		 <div id="result"></div>
	</body>
</html>