<html>
	<head>
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
		<title>Проверка текста</title>
	</head>
	<body>
		<h3>Проверка текста</h3>
		<a href="{{url_for('spelling')}}">Орфография</a><br/>
		<a href="{{url_for('collocations')}}">Сочетаемость</a>
	</body>
</html>