<html>
	<head>
		<title>Spelling</title>
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script type="text/javascript">
		
		    var dataResult = null;
		
		    var WAIT_MSG = 'please wait...';
		    var ERROR_EMPTY_MSG = 'you have not entered anything';
		
		    $(function() {
		        $MIN_LENGTH = 2;
		        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		
		
		
		    $('#checkText').bind('click', function(){
		
		        var textToCheck =  $('#text_to_check').val();
		        if(isNormal(textToCheck)){
		            showMessage(WAIT_MSG);
		            $.getJSON($SCRIPT_ROOT + '/check_spelling', {
		                text_to_check: textToCheck}, function(data) {
		                clearResult();
		                dataResult =data.result;
		                showResult(data.result,textToCheck);
		            });
		        }
		        else{
		            showMessage(ERROR_EMPTY_MSG);
		        }
		    });
		    });
		
		
		    function showResult(dataResult,textToCheck){
		        for(var key in dataResult){
		            textToCheck = markupSearch(textToCheck, key);
		        }
		        $('#result').html(textToCheck)
		    }
		
		    function showCorrection(element){
		        var listOfParses=createList(dataResult[element.innerText]);
		        $('#parses').html(listOfParses);
		    }
		
		    function showMessage(error){
		        $('#result').text(error);
		        $('#parses').html('');
		    }
		
		    function clearResult(){
		        $('#result').text('');
		        $('#parses').html('');
		    }
		
		    function isNormal(text){
		        return text!=null && text!='';
		    }
		
		    function createList(listOfParses){
		        var result="<ul>";
		        for(var i=0;i<listOfParses.length;++i){
		            result+="<li>"+listOfParses[i]+"</li>";
		        }
		        return result+"</ul>";
		    }
		
		    function markupSearch(text, searchStr){
		        return text.replace(new RegExp('(^|\\s)('+searchStr+')(?=\\s|$|,|\\.|!|\\?|-)', 'g'),
		                "$1<span class='markup' name='markup' onclick='showCorrection(this)'>$2</span>");
		    }
		    </script>
		</head>
		<body>
		    <textarea id="text_to_check" rows="10" cols="20"></textarea>
		    <input id="checkText" type="button" value="check spelling"/>
		    <div id="result"></div>
		    <div id="parses"></div>
		</body>
		</html>