﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Проверка правописания</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}"/>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<script type="text/javascript" src="static/speller/spell.js"></script>
<script type="text/javascript">
var speller = new Speller({ url: ".", lang: "ru", options: Speller.IGNORE_URLS });

function spellCheck() {
    speller.check([ document.forms[0].edit ]);
}
function openCheckSyntax(){
	text = document.forms[0].edit.value;
	window.open("/syntax?text="+text,"_self")
}
function openCheckCollocations(){
	text = document.forms[0].edit.value;
	window.open("/collocations?text="+text,"_self")
}
</script>
</head>
<body>
  <h3>Проверка правописания</h3>
  <a href="..">На главную</a><br/>
  <form action="">
  <p><textarea name="edit" rows="50" cols="100"></textarea></p>
  <button name="cmdSpell" type="button" onclick="spellCheck()">Проверить</button>&#160;
  <button name="cmdOptions" type="button" onclick="speller.optionsDialog()">Параметры...</button>
  </form>
  <button name="cmdCollocations" type="button" onclick="openCheckCollocations()">Перейти к проверке сочетаемости</button>
</body>
</html>
